body {
  background-color: #1a2027;
}
.colors {
  /*-----DARK MODE------*/
  color: #232425;
  color: #21272e;
  color: #7d38e5;
  color: #fe8944;
  /*-----LIGHT MODE------*/
  color: #d3d3d4;
  color: #eceff0;
  color: #7e34ed;
  color: #a3a2a2;
  color: #f0ab83;
  color: #777779
}
/*---------------------------------------------------Navigation Bar--------------------------------------------*/
.nav_bar {
  /*border: solid red;*/
  margin: 0 auto;
  height: 100px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.options_container {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  /*border: solid khaki;*/
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  color: whitesmoke;
  list-style: none;
}
@media screen and (max-width:600px){
  .list{
      display: none;
  }
}
.circle_orange {
  position: absolute;
  border: solid 1px #ec752e;
  border-bottom: none;
  height: 30px;
  width: 80px;
  margin-top: -40px;
  margin-left: -10px;
  border-radius: 50%;
  transform: matrix(0.7, -0.5, -0.6, -0.4, 0.9, 0.9);
}
@media screen and (max-width:912px){
  .circle_orange{
      height: 20px;
      width: 50px;
      margin-top: -30px;
      margin-left: -5px;
  }
}
.burger {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-left: 10px;
  display: none;
}
@media screen and (max-width:600px){
  .burger{
      display: block;
  }
}
span {
  background: linear-gradient(to right, #fe8944, #fe8966, #fe8977); 
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}
.list_item {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  cursor: pointer;
  margin: 10px;
}
@media screen and (max-width:912px){
  .list_item{
      font-size: 10px;
  }
}
.logo_container {
  /*border: solid blue;*/
  position: absolute;
  height: 50px;
  width: 100px;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass {
  /*border: solid 1px whitesmoke;*/
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: transparent;
  z-index: 5;
  backdrop-filter: blur(2px);
  margin-left: -100px;
  box-shadow: 
  15px 15px 15px rgba(0, 0, 0, 0.1),
  inset -5px -5px 5px rgba(225, 225, 225, 0.2),
  inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width:912px){
  .glass{
      height: 10px;
      width: 10px;
      margin-left: -50px;
  }
}
.logo {
  position: absolute;
}
@media screen and (max-width:912px){
  .logo{
      font-size: 15px;
  }
}
.authentication_section {
  /*border: solid greenyellow;*/
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
}
.sign_in {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
@media screen and (max-width:912px){
  .sign_in{
      font-size: 10px;
  }
}
.create_account {
  background-color: #12161c;
  border: solid 1px whitesmoke;
  padding: 10px;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (max-width:912px){
  .create_account{
      font-size: 10px;
      padding: 5px;
  }
}
.link {
  background-color: teal;
}
.toggle {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  margin: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}
/*---------------------------------------------------Hero Section--------------------------------------------*/
.hero_container {
  /*border: solid rebeccapurple;*/
  height: 90vh;
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:912px){
  .hero_container{
    height: 1000px ;
    flex-direction: column;
  }
}
.left_panel {
  /*border: solid greenyellow;*/
  height: 100%;
  width: 33%;
  border-radius: 20px 0 0 20px;
  background-color: #21272e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:912px){
  .left_panel{
      height: 33%;
      width: 100%;
      border-radius: 20px 20px 0 0;
  }
}
.middle_panel {
  /*border: solid magenta;*/
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fe8944;
}
@media screen and (max-width:912px){
  .middle_panel{
      height: 33%;
      width: 100%;
      flex-direction: row;
  }
}
.right_panel {
  /*border: solid aqua;*/
  height: 100%;
  width: 33%;
  border-radius: 0 20px 20px 0;
  background-color: #21272e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:912px){
  .right_panel{
      height: 33%;
      width: 100%;
      border-radius: 0 0 20px 20px;
  }
}
.wraper {
  /*border: solid indigo;*/
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:912px){
  .wraper{
      height: 100%;
      width: 50%;
  }
}
.hero_title_container {
  /*border: solid aqua;*/
  z-index: 55;
  color: whitesmoke;
  height: 300px;
  width: 250px;
  position: absolute;
}
@media screen and (max-width:912px){
  .hero_title_container{
      height: 175px;
      width: 150px;
  }
}
.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: 500;
  text-align: left;
}
@media screen and (max-width:912px){
  .title{
      font-size: 30px;
  }
}
.straming {
  background: linear-gradient(to right, #7d38e5, #884ae5, #a070e7);
  -webkit-background-clip: text;
  color: transparent;
}
.circles_container {
  /*border: solid lawngreen;*/
  position: absolute;
  height: 300px;
  width: 250px;
}
@media screen and (max-width:912px){
  .circles_container{
      height: 175px;
      width: 150px;
  }
}
.circle {
  position: absolute;
  border: solid 1px #7d38e5;
  border-left: none;
  border-bottom: none;
  height: 250px;
  width: 300px;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: -50px;
  transform: matrix(0.7, -0.5, -0.6, -0.4, 0.9, 0.9);
}
@media screen and (max-width:912px){
  .circle{
      height: 100px;
      width: 100px;
      margin-left: 10px;
      margin-top: 0;
  }
}
#second {
  margin-top: 20px;
}
@media screen and (max-width:912px){
  #second{
      margin-top: 30px;
  }
}
#third {
  margin-top: 100px;
}
@media screen and (max-width:912px){
  #third{
      margin-top: 60px;
  }
}
.sign_up_section {
  /*border: solid red;*/
  height: 20%;
  width: 250px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:912px){
  .sign_up_section{
      height: 100%;
      width: 50%;
  }
}
.gamor_description {
  /*border: solid aqua;*/
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gamor_text {
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}
@media screen and (max-width:912px){
  .gamor_text{
      font-size: 10px;
  }
}
.stream_party {
  color: whitesmoke;
  font-weight: 700;
}
.sign_up_options {
  /*border: solid springgreen;*/
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gamor_account {
  background-color: #353b41;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 5px;
}
@media screen and (max-width:912px){
  .gamor_account{
      font-size: 10px;
      padding: 5px;
  }
}
.gamor_sign_in {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  margin: 5px;
}
@media screen and (max-width:912px){
  .gamor_sign_in{
      font-size: 10px;
  }
}
/*--------------------------------------------------Middle Panel------------------------------------*/
.game_season_section {
  /*border: solid khaki;*/
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:912px){
  .game_season_section{
      height: 100%;
      width: 50%;
  }
}
.fornite_season {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
@media screen and (max-width:912px){
  .fornite_season{
      font-size: 20px;
      text-align: center;
  }
}
.join_live {
  color: #ee5735;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin-top: -20px;
}
.clock_container {
  /*border: solid yellow;*/
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_user {
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 40px;
  z-index: 55;
  backdrop-filter: blur(5px);
  margin-top: -30px;
  margin-left: -110px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_user_icon {
  height: 25px;
  width: 25px;
}
.clock {
  position: absolute;
  background-color: whitesmoke;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ee5735;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 15px;
  border-radius: 50px;
}
.youtuber_container {
  /*border: solid red;*/
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtuber {
  height: 20px;
  width: 25%;
  padding: 2px;
  background-color: transparent;
  box-shadow: -15px -15px 15px rgba(225, 225, 225, 0.2),
  15px 15px 15px rgba(0, 0, 0, 0.1),
  inset -5px -5px 5px rgba(225, 225, 225, 0.2),
  inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
}
.avatar_section {
  /*border: solid lawngreen;*/
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:912px){
  .avatar_section{
    height: 100%;
    width: 50%;
  }
}
.avatar {
  height: 550px;
  width: 450px;
  margin-bottom: -90px;
}
@media screen and (max-width:912px){
  .avatar{
      height: 300px;
      width: 250px;
  }
}
.left_square {
  position: absolute;
  background-color: #ec752e;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin-right: 240px;
  margin-top: -130px;
}
@media screen and (max-width:1208px){
  .left_square{
      height: 50px;
      width: 50px;
  }
}
@media screen and (max-width:1136px){
  .left_square{
      margin-right: 170px;
  }
}
@media screen and (max-width:912px){
  .left_square{
      margin-top: -150px;
  }
}
@media screen and (max-width:430px){
  .left_square{
      margin-right: 150px;
  }
}
.vision {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: black;
  padding: 5px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
@media screen and (max-width:912px){
  .vision{
      height: 10px;
      width: 10px;
  }
}
.right_square {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  background-color: #ec752e;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin-top: -230px;
  margin-left: 250px;
}
@media screen and (max-width:1208px){
  .right_square{
      height: 50px;
      width: 50px;
  }
}
@media screen and (max-width:1136px){
  .right_square{
      margin-left: 130px;
  }
}
@media screen and (max-width:912px){
  .right_square{
      margin-top: -100px;
  }
}
@media screen and (max-width:430px){
  .right_square{
      margin-left: 100px;
  }
}
.astro {
  position: absolute;
  margin-top: 8px;
  height: 50px;
  width: 50px;
}
@media screen and (max-width:1208px){
  .astro{
      height: 40px;
      width: 40px;
  }
}
@media screen and (max-width:430px){
  .astro{
      margin-right: 150px;
  }
}
.jhon {
  height: 80px;
  width: 80px;
}
/*-------------------------------------------------Right Panel------------------------------------*/
.choose_platform_section {
  /*border: solid magenta;*/
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width:912px){
  .choose_platform_section{
      flex-direction: row;
  }
}
.searchingGames_section {
  /*border: solid aqua;*/
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width:912px){
  .searchingGames_section{
      align-items: center;
  }
}
.choose_platform_title {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width:912px){
  .choose_platform_title{
      font-size: 10px;
  }
}
.choose_platform_title span {
  color: grey;
  font-size: 20px;
}
@media screen and (max-width:912px){
  .choose_platform_title span{
      font-size: 10px;
  }
}
.choose_panel {
  height: 50px;
  width: 100%;
  background-color: #1a2027;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:912px){
  .choose_panel{
      height: 30px;
      width: 80%;
  }
}
.option {
  background-color: transparent;
  margin: 5px;
  height: 80%;
  width: 33%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
@media screen and (max-width:912px){
  .option{
      font-size: 10px;
  }
}
#party {
  background-color: #30363e;
}
.search_title {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width:912px){
  .search_title{
      font-size: 10px;
  }
}
.search_title span {
  color: grey;
  font-size: 20px;
}
@media screen and (max-width:912px){
  .search_title span{
      font-size: 10px;
  }
}
.search_panel {
  background-color: #1a2027;
  height: 90%;
  width: 100%;
  border-radius: 20px;
}
.top_search {
  /*border: solid green;*/
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search_game_input {
  height: 50px;
  width: 100%;
  padding: 10px;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
}
.settings {
  /*border: solid lightcoral;*/
  height: 60px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings img {
  height: 20px;
  width: 10px;
}
.players_section {
  /*border: solid yellow;*/
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}
.streamer {
  background-color: #30363e;
  width: 80%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_streamer {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.search_button_container {
  /*border: solid mediumvioletred;*/
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.search_button {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  text-align: center;
}
/*-------------------------------------------------Categories section-------------------------------------*/
.categories_section {
  /*border: solid mediumturquoise;*/
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories_container {
  /*border: solid mediumspringgreen;*/
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.categories_title {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.categories_wraper {
  /*border: solid mediumorchid;*/
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width:1500px){
  .categories_wraper{
      height: 300px;
      overflow-y: scroll;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: -15px -15px 15px rgba(225, 225, 225, 0.0),
  15px 15px 15px rgba(0, 0, 0, 0.1),
  inset -5px -5px 5px rgba(225, 225, 225, 0.2),
  inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #454545;
}
.categorie {
  background-color: #21272e;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
  width: 245px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  cursor: pointer;
}
#one, #two, #three, #four, #five, #six, #seven {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}
#one {
  color: orange;
}
#two {
  color: blue;
}
#three {
  color: red;
}
#four {
  color: yellow;
}
#five {
  color: purple;
}
#six {
  color: green;
}
#seven {
  color: magenta;
}
#number {
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.all {
  background: linear-gradient(to right, #7d38e5, #884ae5, #a070e7);
  -webkit-background-clip: text;
  color: transparent;
}
/*---------------------------------------------------From----------------------------------*/
.form_page_container {
  /*border: solid red;*/
  background-color: #191f26;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: #30363e;
  height: 350px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
}
@media screen and (max-width:912px){
  .form{
      width: 250px;
  }
}
.title_form {
  color: #12161c;
  text-align: center;
}
.username {
  color: grey;
  text-align: left;
  width: 80%;
  font-weight: 200;
}
.username_input {
  width: 80%;
  color: whitesmoke;
  background-color: transparent;
  border: none;
  border-left: solid 1px whitesmoke;
  border-bottom: solid 1px whitesmoke;
  outline: none;
}
.email {
  color: grey;
  text-align: left;
  width: 80%;
  font-weight: 200;
}
.email_input {
  color: whitesmoke;
  width: 80%;
  background-color: transparent;
  border: none;
  border-left: solid 1px whitesmoke;
  border-bottom: solid 1px whitesmoke;
  outline: none;
}
.password {
  color: grey;
  text-align: left;
  width: 80%;
  font-weight: 200;
}
.password_input {
  color: whitesmoke;
  width: 80%;
  background-color: transparent;
  border: none;
  border-left: solid 1px whitesmoke;
  border-bottom: solid 1px whitesmoke;
  outline: none;
}
.send {
  width: 80%;
  margin-top: 20px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: #7d38e5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.form_wraper {
  z-index: 5;
}
.circles_container {
  /*border: solid lawngreen;*/
  position: absolute;
  height: 300px;
  width: 250px;
}
@media screen and (max-width:912px){
  .circles_container{
      height: 175px;
      width: 150px;
  }
}
.circle_form {
  position: absolute;
  border: solid 1px #7d38e5;
  border-left: none;
  border-bottom: none;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: -50px;
  transform: matrix(0.7, -0.5, -0.6, -0.4, 0.9, 0.9);
}
@media screen and (max-width:912px){
  .circle_circle{
      height: 100px;
      width: 100px;
      margin-left: 10px;
      margin-top: 0;
  }
}
#second_circle {
  margin-top: 10px;
  transform: matrix(0.7, -0.5, -0.6, 1, 0.9, 0.9);
}
@media screen and (max-width:912px){
  #second_circle{
      margin-top: 20px;
  }
}
#third_circle {
  margin-top: 2px;
  transform: matrix(0.7, 1, -0.6, -0.1, 2, 0.9);
}
@media screen and (max-width:912px){
  #third_circle {
      margin-top: 30px;
  }
}
.sign_in_container {
  /*border: solid red;*/
  height: 100vh;
  width: 100%;
  background-color: #191f26;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_in_form {
  /*border: solid mediumaquamarine;*/
  height: 300px;
  width: 400px;
  border-radius: 10px;
  background-color: #21272e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.username_sign {
  color: grey;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
  text-align: left;
}
.username_sign_input {
  background-color: transparent;
  width: 80%;
  border: none;
  border-left: solid 1px grey;
  border-bottom: solid 1px grey;
  outline: none;
  color: whitesmoke;
}
.password_sign {
  color: grey;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
  text-align: left;
}
.password_sign_input {
  background-color: transparent;
  width: 80%;
  border: none;
  border-left: solid 1px grey;
  border-bottom: solid 1px grey;
  outline: none;
  color: whitesmoke;
}
.send_sign {
  color: #7d38e5;
  font-weight: 600;
  padding: 10px;
  width: 80%;
  margin: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.sign_in_title {
  font-weight: 600;
}
.sign_wraper {
  z-index: 2;
}
.circles_container_sign {
  /*border: solid lawngreen;*/
  position: absolute;
  height: 300px;
  width: 250px;
}
@media screen and (max-width:912px){
  .circles_container_sign{
      height: 175px;
      width: 150px;
  }
}
.circle_sign {
  position: absolute;
  border: solid 1px #7d38e5;
  border-left: none;
  border-bottom: none;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: -50px;
  transform: matrix(0.7, -0.5, -0.6, -0.4, 0.9, 0.9);
}
@media screen and (max-width:912px){
  .circle_sign{
      height: 100px;
      width: 100px;
      margin-left: 10px;
      margin-top: 0;
  }
}
#second_sign {
  margin-top: 10px;
  transform: matrix(0.7, -0.5, -0.6, 1, 0.9, 0.9);
}
@media screen and (max-width:912px){
  #second_sign{
      margin-top: 20px;
  }
}
#third_sign {
  margin-top: 2px;
  transform: matrix(0.7, 1, -0.6, -0.1, 2, 0.9);
}
@media screen and (max-width:912px){
  #third_sign {
      margin-top: 30px;
  }
}